
<div class="center-container">
  <div class="cards-wrapper">
    <div class="card" ><a routerLink="biometric" style="display: block; text-decoration: none;">
      biometric
    </a>
    </div>
    <div class="card"><a routerLink="school" style="display: block; text-decoration: none;">SAMS</a></div>
    <div class="card"><a routerLink="college" style="display: block; text-decoration: none;">CAMS</a></div>
    <div class="card"><a routerLink="hospital" style="display: block; text-decoration: none;">HAMS</a></div>
  </div>
</div>
<router-outlet></router-outlet>